{# templates/registration/index.html.twig #}
{% extends 'base.html.twig' %}
{% block body %}
	<h1>Site de partage d'informations interne au diocese de Pamiers
	</h1>
	<div class="container">
		<div class="row">
			<div class="card bg-light mb-3 mt-5" style="width: 800px;">
				<div class="card-body">
					<div class="card-header mb-3">S'inscrire</div>
					{{ form_start(form) }}
				</div>
				<div class="form_group">
					<div class="col-md-12 mb-3">
						{{ form_row(form.email, {'attr': {'class': 'form-control'}}) }}
					</div>
				</div>
				<div class="form_group">
					<div class="col-md-12 mb-3">
						{{ form_row(form.password.first, {'attr': {'class':
                                'form-control'}}) }}
					</div>
				</div>
				<div class="form_group">
					<div class="col-md-12 mb-3">
						{{ form_row(form.password.second, {'attr': {'class':
                                'form-control'}}) }}
					</div>
				</div>
				{{ form_end(form) }}
			</div>
		</div>
	</div>
{% endblock %}
