{% extends 'base.html.twig' %}

{% block title %}Hello UploadFormTypeController!
{% endblock %}
{% block stylesheets %}
	{{ encore_entry_link_tags('app') }}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/5.1.3/lux/bootstrap.min.css"/>
{% endblock %}
{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		<h1>Hello
			{{ controller_name }}! ✅</h1>
		<div class="container">
			<h1>Adding a new Documents</h1>

			{{ form_start(form) }}
			<div class="my-custom-class-for-errors">
				{{ form_errors(form) }}
			</div>

			<div class="row">
				<div class="col">

					$this->renderForm('UploadFormType', ['form' => $form])

					{{ form(form) }}

						{{ form_row(form.Documents) }}

					</div>
					<div class="col" id="some-custom-id">
						{{ form_row(form.dueDate) }}
					</div>
				</div>
				{{ form_end(form) }}
			</div>

			This friendly message is coming from:
			<ul>
				<li>Your controller at
					<code>
						<a href="{{ 'C:/Users/sylva/projet-diocese/src/Controller/UploadFormTypeController.php'|file_link(0) }}">src/Controller/UploadFormTypeController.php</a>
					</code>
				</li>
				<li>Your template at
					<code>
						<a href="{{ 'C:/Users/sylva/projet-diocese/templates/upload_form_type/index.html.twig'|file_link(0) }}">templates/upload_form_type/index.html.twig</a>
					</code>
				</li>
			</ul>
		</div>
	{% endblock %}
